<a href="https://colab.research.google.com/github/RomaViraj/APT/blob/master/AT_Lesson_34_Reference_v0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 34: Python Tuples II

**WARNING:** The reference notebook is meant **ONLY** for a teacher. Please **DO NOT** share it with any student. 

The contents of the reference notebook are meant only to prepare a teacher for a class. To conduct the class, use the class copy of the reference notebook. The link and the instructions for the same are provided in the **Notes To The Teacher** section.


|Particulars|Description|
|-|-|
|**Topic**|Python Tuples II|
|||
|**Class Description**|In this class, a student will learn the advanced operations that can be applied to Python tuples|
|||
|**Class**|C34|
|||
|**Class Time**|45 minutes|
|||
|**Goal**|Concatenate multiple tuples|
||Convert of an iterable object to a tuple|
||Unpack tuple values|
||Change an item of a tuple|
||Enumerate the items of a tuple|
||Join multiple tuples into one tuple|
||Compare the performance of a tuple with a list|
|||
|**Teacher Resources**|Google Account|
||Link to Lesson 34 Colab reference notebook|
||Laptop with internet connectivity|
||Earphones with mic|
|||
|**Student Resources**|Google Account|
||Laptop with internet connectivity|
||Earphones with mic|

---

### Class Structure

A class is divided into three parts, as shown in the table below.

|Parts|Duration|
|-|-|
|**Warm-Up**|5 minutes|
|||
|**Teacher-Student Activities**|35 minutes|
|||
|**Wrap-Up**|5 minutes|

---

### Notes To The Teacher

Before beginning the class:

1. Open the **AT - Lesson 34 - Class Copy - v0** file by clicking on the link provided in the **Activities** section under the title **Python Tuples II (Class Copy)**.  

2. After opening the file mentioned in the first point, create its duplicate copy by following the steps described below:

    - Click on the **File** menu. A new drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=400>

    - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

    - In the duplicate copy, click on the **Share** button on the top right corner of the notebook. A new dialogue box will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/2_share_button.png' width=500>

    - Click on the tiny downward arrow next to **Anyone with the link can view** text. A drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/3_anyone_can_view.png' width=500>

    - Click on the **More...** option. A new page on the dialogue box will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/4_more_option.png' width=500>

    - Click on the circle next to **On - Anyone with the link** option. Now, go down and click on the tiny downward box next to **Can edit** text. A drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/5_anyone_with_the_link.png' width=500>

    - Click on the **Can edit** option. Then click on the **Save** button. You will be directed back to the first page of the dialogue box.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/6_can_edit.png' width=500>

    - Make sure that under the **Link sharing on** section, **Anyone with the link can edit** option is selected. 

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/7_anyone_can_edit.png' width=500>

    - Then click on the **Done** button.

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Lesson34** format. 


4. Now, finish the **Warm-Up** section. Afterwards, proceed with the class using the duplicate copy of the notebook. You can share the link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Lesson34**) with the student through the chat window.

5. When a student executes the code for the first time in the duplicate copy that you shared with them, they may get the following warning:

   ```
    Warning: This notebook was not authored by Google. This notebook was 
    authored by xyz@gmail.com. It may request access to your data stored 
    with Google such as files, emails and contacts. Please review the source 
    code and contact the creator of this notebook at xyz@gmail.com with any 
    additional questions. 

                                                      Cancel. Run Anyway.
  ```

6. Ask the student to click on the `Run Anyway` button.

7. Wherever you see the hat (**^**) sign on the heading of activity, give a hats-off to the student at the end of the activity.

    - Single hat sign, i.e., **^** denotes give hats-off for concentration. You have to assess the concentration level of a student based on their attentiveness and understanding of the concept.

    - Double hat signs, i.e., **^^** denotes give hats-off for creativity. It can be an alternative approach to writing a code for an activity or applying the logic in a totally different problem statement.

    - Triple hat signs, i.e., **^^^** denotes give hats-off for persistence. It is the ability of a student to not give up on writing code and writing code with minimal teacher support.

8. Every time you execute your code in the Google Colab notebook, please don't forget to save it by pressing the **Ctrl + S** keys (or **Command + S** keys if you are using a Mac). While saving the notebook, you or student may encounter the following error:

   ```
    Save failed
    
    The notebook has been changed outside of this session. Would you like to 
    overwrite existing changes?
    
                                                              CANCEL    YES
   ```

   Click on the `YES` button.

9. Occasionally, you may encounter some error such as `NameError, ReferenceError, ImportError` or `ModuleNotFoundError` after executing the code in $k^{th}$ code cell (where $k > 0$). Most likely, due to poor internet speed, the Colab notebook might have lost the information that all the previous codes have been executed already. As a remedy, run codes in the code cells beginning from the first code cell till the $(k - 1)^{th}$ code cell. For e.g., if the code in the $5^{th}$ code cell fails to run because of one of the aforementioned errors, execute the codes in all the first four code cells again.

10. For every **Teacher Action**, the teacher is supposed to share their screen with the student. Similarly, for every **Student Action**, the student is supposed to share their screen with the teacher.

---

### Warm-Up

```
TEACHER
  Hi student_name! How are you doing?

EXPECTED STUDENT RESPONSE
  I am doing good, teacher. How about you?


TEACHER
  I am having a good time, thank you. So, how was your day? What did you do 
  today?

EXPECTED STUDENT RESPONSE 
  I went to school. Had my lunch. Played a game and then did my homework 
  before this class.


TEACHER
  That's great. I am glad that you are having a good day. Now, let's do a 
  quick recap of our previous class. Can you recall the concepts you 
  learnt in the previous lesson?

EXPECTED STUDENT RESPONSE
  We learnt how to 
    - Create a Python tuple and calculate the length of a tuple
    - Retrieve items using the tuple indexing method
    - Slice a Python tuple
    - Count the number of times and item exits in a tuple
    - Get the index of an item in a tuple

TEACHER
  Excellent! You recalled everything that you learnt in the last class. 
  Great job! Keep it up.
  I have an exciting quiz question for you! Are you ready to answer this question?    
  ```   
  **Instructions for the Teacher:**
  -  Please click on the "Quiz Time" button on the bottom right corner of your screen to start the In-Class Quiz.<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/quiz-time.png' width=100>   
  - A quiz will be visible to both you and the student. Encourage the student to answer the quiz question. 
  - The student may choose the wrong option, help the student to think correctly about the question and then answer again. 
  - After the student selects the correct option, the "End Quiz" button will start appearing on your screen.  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/end-quiz.png' width=100>  
  - Click the "End quiz" to close the quiz pop-up and continue the class. 
  - Do not spend more than 2 minutes on this quiz.

```
TEACHER
   In this class, we are going to learn the advanced operations that can be 
   applied to a Python tuple.

  So, are you excited for this class?

EXPECTED STUDENT RESPONSE
  Yes, teacher.

TEACHER
  All right. Let's get started. I'm sharing the link to the Colab notebook 
  for this class with you. Open it up.

  Note:
    - Share the duplicate copy of the notebook that you just created with 
      the student through the chat window.
    
EXPECTED STUDENT RESPONSE
  The student opens the Colab notebook.
```

---

### Teacher-Student Activities

Let's continue our discussion on Python tuples. In this class we will learn the following concepts/operations regarding tuples:

- Concatenation of tuples

- Conversion of an iterable object to a tuple.

- Unpacking tuple values

- Changing items in a tuple

- Enumerating the items in a tuple

- Joining multiple tuples into one tuple

- Comparing the performance of a tuple with a list

Almost all the above concepts/operations are common to lists as well. Let's continue this class from the concatenation of tuples.

---

#### Activity 1: Concatenation^^

In the last class, we learnt that we cannot add a new item to a tuple because tuples are immutable. However, we can join two tuples through concatenation. 

Recall that the process of joining two entities is called **concatenation**. This is exactly the same concept that you learnt for strings in one of the previous classes.

Let's revisit this concept with the help of an example. Here are three different tuples containing the annual GDP of India (in %) starting from 1991 till 2018. These GDP figures are taken from the official world bank data website. 

1. `india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)`

2. `india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)`

3. `india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)`

Let's join these tuples to form one tuple. To concatenate two or more tuples, use the `+` operator.

In [ ]:
# Student Action: Join the above three tuples to form a new tuple and store it in the 'india_gdp_1991_2018' variable. Also, print its length.
india_gdp_1991_2000 = (1.057, 5.482, 4.751, 6.659, 7.574, 7.550, 4.050, 6.184, 8.846, 3.841)
india_gdp_2001_2010 = (4.824, 3.804, 7.860, 7.923, 7.923, 8.061, 7.661, 3.087, 7.862, 8.498)
india_gdp_2011_2018 = (5.241, 5.456, 6.386, 7.410, 7.996, 8.170, 7.168, 6.811)
india_gdp_1991_2018 = india_gdp_1991_2000 + india_gdp_2001_2010 + india_gdp_2011_2018
print("There are", len(india_gdp_1991_2018), "items in the resulting tuple.") # The resulting tuple should have 28 items.
india_gdp_1991_2018

There are 28 items in the resulting tuple.

(1.057,
 5.482,
 4.751,
 6.659,
 7.574,
 7.55,
 4.05,
 6.184,
 8.846,
 3.841,
 4.824,
 3.804,
 7.86,
 7.923,
 7.923,
 8.061,
 7.661,
 3.087,
 7.862,
 8.498,
 5.241,
 5.456,
 6.386,
 7.41,
 7.996,
 8.17,
 7.168,
 6.811)

Let's verify whether the resulting tuple is indeed a tuple or not.

In [ ]:
# Student Action: Verify whether the resulting tuple is indeed a tuple or not.
type(india_gdp_1991_2018)

tuple

You can also concatenate multiple lists using the `+` operator.

In [ ]:
# Student Action: Create two or three lists containing some random items and concatenate them.
first_10_nat_nums = [i for i in range(1, 11)]
next_5_nat_nums = [i for i in range(11, 16)]
first_15_nat_nums = first_10_nat_nums + next_5_nat_nums
first_15_nat_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

**Note:** You cannot concatenate multiple Python dictionaries, NumPy arrays and Pandas series among themselves using the `+` operator.

---

#### Activity 2: The `tuple()` Function

You can convert a Python list / NumPy array / Pandas Series into a tuple using the `tuple()` function. 

Let's create a NumPy array of first 10 natural numbers and convert it into a tuple using the `tuple()` function.

In [ ]:
# Student Action: Create a NumPy array containing the first 10 natural numbers and convert it into a tuple. 
# Also, verify whether the array is converted to a tuple or not.
import numpy as np

# Create a NumPy array.
num_array = np.arange(1, 11)
# Print the NumPy array.
print(num_array)
# Convert the NumPy array into a tuple.
num_tuple = tuple(num_array)
# Print the tuple.
print(num_tuple)
# Verify.
type(num_tuple)

[ 1  2  3  4  5  6  7  8  9 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

If you apply the `tuple()` function on a dictionary, the resulting tuple will contain only the keys of a dictionary.

Let's apply the `tuple()` function on the following dictionary and check the output.

```
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
```

In [ ]:
# Student Action: Apply the 'tuple()' function on the 'my_dict' dictionary.
my_dict = {'Front Camera' : '16 MP', 
           'Battery' : '3300 mAh',
           'Processor' : 'Qualcomm Snapdragon 845',
           'Display' : '6.28 inches',  
           'RAM' : '6 GB', 
           'Rear Camera' : '16 MP + 20 MP', 
           'Price' : 28990, 
           'Fast Charge' : True} 
my_tuple = tuple(my_dict)
my_tuple

('Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge')

As you can see, the `tuple()` function, when applied to a dictionary, returns a tuple containing only the keys of the dictionary.

Similarly, you can also apply the `list()` function to convert a data-structure into a list. The `list()` function, when applied on a dictionary, also returns a list containing only the keys of the dictionary.

In [ ]:
# Student Action: Apply the 'list()' function on the 'my_dict' dictionary.
my_list = list(my_dict)
my_list

['Front Camera',
 'Battery',
 'Processor',
 'Display',
 'RAM',
 'Rear Camera',
 'Price',
 'Fast Charge']

---

#### Activity 3: Unpacking

We can unpack or assign all the values to the same number of variables by writing them in one line.

**Syntax:** `vb1, vb2, vb3, ..., vbN = (item1, item2, item3, ..., itemN)`

where `vb1, vb2, vb3, ..., vbN` are `N` different variables and `item1, item2, item3, ..., itemN` are `N` different items stored in the tuple.

In [ ]:
# Student Action: Create a tuple containing 5 items and assign their values to 5 differing variables.
name, age, height, weight, city = ('Bruce Wayne', 28, 180, 75, 'Gotham')
print("Name:", name, 
      "\nAge:", age, 
      "\nHeight (in cm):", height,
      "\nWeight (in kg):", weight,
      "\nCity:", city)

Name: Bruce Wayne
Age: 28
Height (in cm): 180
Weight (in kg): 75
City: Gotham

The same method is also applicable for a list.

**Note:** This method of unpacking values fails when the number of variables are less than or greater than the number of items in a tuple or a list.

---

#### Activity 4: Changing Tuple Items

We have already discussed that we cannot change the contents of a tuple. However, we can first convert the tuple into a list, then change the contents of the list and finally change the list back into a tuple.

Let's create a tuple of English vowels which contains one consonant. To remove that consonant, we will first convert the tuple into a list using the `list()` function, then will remove the consonant by applying the `remove()` function and then convert the list back to a tuple using the `tuple()` function.

In [ ]:
# Student Action: Create a tuple containing English vowels and then reverse the order of its items.
# Create a tuple of vowels.
vowels_tuple = ('a', 'e', 'i', 's', 'o', 'u')

# Print the contents of the tuple before converting it into a list.
print("Before Reversal:", vowels_tuple)

# Convert the tuple into a list.
vowels_list = list(vowels_tuple)

# Remove the consonant from the list.
vowels_list.remove('s')

# Convert the list into a tuple.
vowels_tuple = tuple(vowels_list)

# Print the items of the tuple after reversing their order.
print("After Reversal:", vowels_tuple[::-1])

Before Reversal: ('a', 'e', 'i', 's', 'o', 'u')
After Reversal: ('u', 'o', 'i', 'e', 'a')

Similarly, you can apply other list functions by first converting a tuple into a list and then changing the list back to the tuple by applying the `tuple()` function. This little hack is useful when the data entered in a tuple is wrong or undesirable. However, this hack becomes a computationally heavy task in case of a huge dataset. Imagine having 1 million (or 10 lakh) data points in a dataset that is not supposed to be changed. But then there is one mistake that needs to be corrected. You will have to first convert the entire tuple into a list, then correct the mistake in the item and then convert it back into a tuple. This exercise could lead to system failure in case of large datasets.

---

#### Activity 5: The `enumerate()` Function

Before we learn this function, think of a way to print the indices of the items contained in the `india_gdp_2011_2018` tuple along with the items one-by-one.

In [ ]:
# Student Action: Print the indices of the items contained in the 'india_gdp_2011_2018' tuple along with the items one-by-one.
for i in range(len(india_gdp_2011_2018)):
  print(i, india_gdp_2011_2018[i])

0 5.241
1 5.456
2 6.386
3 7.41
4 7.996
5 8.17
6 7.168
7 6.811

The `enumerate()` function does the similar thing. It labels the items contained in a data-structure with numbers starting from zero. It is similar to doing the roll call to get the count of the number of people present in a gathering. However, it returns a non-readable Python object. 

Let's apply the `enumerate()` function on the `india_gdp_2011_2018` tuple.

In [ ]:
# Student Action: Apply the 'enumerate()' function on the 'india_gdp_2011_2018' tuple.
enum_gdp = enumerate(india_gdp_2011_2018)
enum_gdp

As you can see, the output is some gibberish or non-readable object. In fact, it returns the physical memory location of the object created by the `enumerate()` function. 

Now, apply the `tuple()` function on top of the `enumerate()` function.

In [ ]:
# Student Action: Apply the 'tuple()' function on top of the 'enumerate()' function.
enum_gdp = tuple(enumerate(india_gdp_2011_2018))
enum_gdp

((0, 5.241),
 (1, 5.456),
 (2, 6.386),
 (3, 7.41),
 (4, 7.996),
 (5, 8.17),
 (6, 7.168),
 (7, 6.811))

As you can see, the output is a tuple containing the key-value pairs of the item and its roll call such that each key-value pair is another tuple.

You can also iterate through each tuple print both roll call and the item.

In [ ]:
# Student Action: Iterate through each tuple print both roll call and the item contained in the above tuple.
for num, item in enum_gdp:
  print(num, item)

0 5.241
1 5.456
2 6.386
3 7.41
4 7.996
5 8.17
6 7.168
7 6.811

The `enumerate()` function can also be applied on lists, dictionaries and strings.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'tuple()' function. 
enum_tuple = tuple(enumerate(my_dict))
enum_vowels_tuple = tuple(enumerate(vowels_list))
print(enum_tuple)
enum_vowels_tuple

((0, 'Front Camera'), (1, 'Battery'), (2, 'Processor'), (3, 'Display'), (4, 'RAM'), (5, 'Rear Camera'), (6, 'Price'), (7, 'Fast Charge'))

((0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u'))

As you can see, the `tuple()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **tuple** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'list()' function.
enum_list = list(enumerate(my_dict))
enum_vowels_list = list(enumerate(vowels_list))
print(enum_list)
enum_vowels_list

[(0, 'Front Camera'), (1, 'Battery'), (2, 'Processor'), (3, 'Display'), (4, 'RAM'), (5, 'Rear Camera'), (6, 'Price'), (7, 'Fast Charge')]

[(0, 'a'), (1, 'e'), (2, 'i'), (3, 'o'), (4, 'u')]

As you can see, the `list()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **list** that is a collection of tuples such that each tuple contains the roll call of every item and the item itself contained in the `vowels_list`.

In [ ]:
# Student Action: Apply the 'enumerate()' function on 'my_dict' dictionary and 'vowels_list'. On top of them apply the 'dict()' function.
enum_dict = dict(enumerate(my_dict))
enum_vowels_dict = dict(enumerate(vowels_list))
print(enum_dict)
enum_vowels_dict

{0: 'Front Camera', 1: 'Battery', 2: 'Processor', 3: 'Display', 4: 'RAM', 5: 'Rear Camera', 6: 'Price', 7: 'Fast Charge'}

{0: 'a', 1: 'e', 2: 'i', 3: 'o', 4: 'u'}

As you can see, the `dict()` function when applied on top of the `enumerate()` function 

- in the case of the `my_dict` dictionary, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every key and the key itself contained in the `my_dict` dictionary. The values of the `my_dict` dictionary are ignored.

- in the case of the `vowels_list`, returns a **dictionary** that is a collection of key-value pairs such that each pair contains the roll call of every item and the item itself contained in the `vowels_list`.

---

#### Activity 6: The `sorted()` Function

If you want to display the items of a tuple in the increasing or decreasing order, then you can apply the `sorted()` function. However, it will return a list instead of a tuple.

The `sorted()` function, by-default, arranges the items in the ascending order. To arrange them in the descending order, pass a parameter called `reverse=True` inside the `sorted()` function.

**Syntax:** 

- For ascending order, `sorted(tuple_name)`

- For descending order, `sorted(tuple_name, reverse=True)`

Let's learn this function with the help of an example.

In [ ]:
# Student Action: Create a tuple containing 10 random integers ranging between 1 and 50.
import random

randint_tuple = tuple([random.randint(1, 50) for i in range(11)])
randint_tuple

(20, 44, 24, 23, 28, 23, 28, 32, 20, 22, 47)

In [ ]:
# Student Action: Now display the items of the tuple in the ascending order.
randint_tuple_sorted = sorted(randint_tuple)
randint_tuple_sorted

[20, 20, 22, 23, 23, 24, 28, 28, 32, 44, 47]

As you can see, the items of the `randint_tuple` are displayed in the ascending order but as a list.

The same function can also be applied for a Python list with the same syntax.

In [ ]:
# Student Action: Create a list containing 10 random integers ranging between 100 and 150.
randint_list = [random.randint(100, 150) for i in range(11)]
randint_list

[126, 111, 132, 115, 116, 149, 104, 142, 122, 124, 107]

In [ ]:
# Student Action: Now display the items of the list in the descending order.
randint_list_sorted = sorted(randint_list, reverse=True)
randint_list_sorted

[149, 142, 132, 126, 124, 122, 116, 115, 111, 107, 104]

---

#### Activity 7: The `zip()` Function^

You have already learnt that the `zip()` function can be used to join two or more lists to form a new dictionary and list. The objects need to be a list or a dictionary. Any two different iterable objects of the same length can be joined using the `zip` function. 

The iterable objects are those objects on which we can apply either a for loop or a while loop. So, if there are $n$ iterable objects and you want to join $r$ objects out of those $n$ objects such that $r \leq n$ and $n \ge1$, then you can do that in ${}^nP_r$ ways where $${}^nP_r = \frac{n!}{(n-r)!}$$ and $$n! = n \times (n - 1) \times (n-2) \dots 3 \times 2 \times 1$$

Also, $1! = 1$ and $0!=1$

E.g., if there are $n=3$ iterable objects (say list, dictionary, tuple) and you want to join $r=2$ of them, then you can join them in $${}^3P_2 = \frac{3!}{(3-2)!} = \frac{3 \times2 \times 1}{1} = 6 \space \text{ways}$$ 

The 6 possible ways are:

1. list, dictionary

2. dictionary, list

3. list, tuple

4. tuple, list

5. dictionary, tuple

6. tuple, dictionary

In the above expression, if $r=n$, i.e., if all of the iterable objects are to be joined using the `zip()` function at a time, then it can be done in $n!$ ways because $${}^nP_n = \frac{n!}{(n-n)!} = \frac{n!}{0!} = n!$$

E.g., if you want to join a list, a dictionary and a tuple at once, then you can join them in $3! = 3\times 2 \times 1 = 6$ ways. In this case, the 6 possible ways are:

1. list, dictionary, tuple

2. list, tuple, dictionary

3. dictionary, list, tuple

4. dictionary, tuple, list

5. tuple, list, dictionary

6. tuple, dictionary, list


**Note:** You don't need to know this theory to apply the `zip()` function. It is just an example to demonstrate that mathematics is definitely applied in real-life problems especially in the field of computer applications.

Let's create a NumPy array containing the years from 1991 to 2018 and join it with the `india_gdp_1991_2018` tuple to form a new tuple using the `zip()` function.

In [ ]:
# Student Action: Create a NumPy array containing the year from 1991 to 2018 and join it with the 'india_gdp_1991_2018' tuple.
years_and_gdp = tuple(zip(np.arange(1991, 2019), india_gdp_1991_2018))
years_and_gdp

((1991, 1.057),
 (1992, 5.482),
 (1993, 4.751),
 (1994, 6.659),
 (1995, 7.574),
 (1996, 7.55),
 (1997, 4.05),
 (1998, 6.184),
 (1999, 8.846),
 (2000, 3.841),
 (2001, 4.824),
 (2002, 3.804),
 (2003, 7.86),
 (2004, 7.923),
 (2005, 7.923),
 (2006, 8.061),
 (2007, 7.661),
 (2008, 3.087),
 (2009, 7.862),
 (2010, 8.498),
 (2011, 5.241),
 (2012, 5.456),
 (2013, 6.386),
 (2014, 7.41),
 (2015, 7.996),
 (2016, 8.17),
 (2017, 7.168),
 (2018, 6.811))

Repeat the same exercise by interchanging the positions of the array and the tuple inside the `zip()` function.

In [ ]:
# Repeat the same exercise by interchanging the positions of the array and the tuple inside the zip() function.
gdp_and_years = tuple(zip(india_gdp_1991_2018, np.arange(1991, 2019)))
gdp_and_years

((1.057, 1991),
 (5.482, 1992),
 (4.751, 1993),
 (6.659, 1994),
 (7.574, 1995),
 (7.55, 1996),
 (4.05, 1997),
 (6.184, 1998),
 (8.846, 1999),
 (3.841, 2000),
 (4.824, 2001),
 (3.804, 2002),
 (7.86, 2003),
 (7.923, 2004),
 (7.923, 2005),
 (8.061, 2006),
 (7.661, 2007),
 (3.087, 2008),
 (7.862, 2009),
 (8.498, 2010),
 (5.241, 2011),
 (5.456, 2012),
 (6.386, 2013),
 (7.41, 2014),
 (7.996, 2015),
 (8.17, 2016),
 (7.168, 2017),
 (6.811, 2018))

This time, the year values appear after the GDP values in the newly formed tuple.

---

#### Activity 8: Performance^^^

Tuples are faster than lists. This is evident from the fact that tuples are immutable and have fewer functions as compared to the lists.

Let's find out how fast tuples are compared to lists by recording the time taken to create 1 million tuples and 1 million lists having the identical items and identical lengths.

In [ ]:
# Student Action: Run the code below.
import timeit

tuple_time = timeit.timeit(stmt="(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)", number=1000000)
list_time = timeit.timeit(stmt="[i for i in range(1, 11)]", number=1000000)

print("Time taken to create 1 million tuples is", round(tuple_time, 4), "seconds.",
      "\nTime taken to create 1 million lists is", round(list_time, 4), "seconds.")

Time taken to create 1 million tuples is 0.0124 seconds.
Time taken to create 1 million lists is 0.6235 seconds.

That's it. We have covered everything we need regarding tuples. In the next class, we will learn string operations.

---

### Wrap-Up

```
TEACHER
  Did you enjoy the class?

EXPECTED STUDENT RESPONSE
  Yes, teacher.


TEACHER
  What part of the class did you enjoy?

EXPECTED STUDENT RESPONSE
  I enjoyed everything.


TEACHER
  I am glad you are having a good time. But make sure that you practice 
  writing code in your free time.

EXPECTED STUDENT RESPONSE
  Sure teacher.


TEACHER
  In the next class, we will learn string operations.
  
EXPECTED STUDENT RESPONSE
  Sure teacher.


TEACHER
  See you in the next class. Bye!

EXPECTED STUDENT RESPONSE
  Bye teacher!
```

---

### Activities

**Teacher Activities**

1. Python Tuples II (Class Copy)

   https://colab.research.google.com/drive/1XV3ePBN1e6a8Em2Kb0GvlIL9wAHtWmKK
  
2. Python Tuples II (Reference)

   https://colab.research.google.com/drive/1syjqfRIQeAbATKiEHSrVtC9wFhf1AITf

3. The World Bank Data Website

   https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?locations=IN

**Student Activities**

1. The World Bank Data Website

   https://data.worldbank.org/indicator/NY.GDP.MKTP.KD.ZG?locations=IN

---