<a href="https://colab.research.google.com/github/RomaViraj/APT/blob/master/AT_Lesson_30_Reference_v0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 30: Introduction to Python Dictionaries

**WARNING:** The reference notebook is meant **ONLY** for a teacher. Please **DO NOT** share it with any student. 

The contents of the reference notebook are meant only to prepare a teacher for a class. To conduct the class, use the class copy of the reference notebook. The link and the instructions for the same are provided in the **Notes To The Teacher** section.


|Particulars|Description|
|-|-|
|**Topic**|Introduction to Python Dictionaries|
|||
|**Class Description**|In this class, a student will learn how to create a CSV file from a Python dictionary and the fundamentals of Python dictionary|
|||
|**Class**|C30|
|||
|**Class Time**|45 minutes|
|||
|**Goal**|Create a CSV file from a Python dictionary|
|||
|**Teacher Resources**|Google Account|
||Link to Lesson 30 Colab reference notebook|
||Laptop with internet connectivity|
||Earphones with mic|
|||
|**Student Resources**|Google Account|
||Laptop with internet connectivity|
||Earphones with mic|

---

### Class Structure

A class is divided into three parts, as shown in the table below.

|Parts|Duration|
|-|-|
|**Warm-Up**|5 minutes|
|||
|**Teacher-Student Activities**|35 minutes|
|||
|**Wrap-Up**|5 minutes|

---

### Notes To The Teacher

Before beginning the class:

1. Open the **AT - Lesson 30 - Class Copy - v0** file by clicking on the link provided in the **Activities** section under the title **Introduction to Python Dictionaries (Class Copy)**.  

2. After opening the file mentioned in the first point, create its duplicate copy by following the steps described below:

    - Click on the **File** menu. A new drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=400>

    - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

    - In the duplicate copy, click on the **Share** button on the top right corner of the notebook. A new dialogue box will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/2_share_button.png' width=500>

    - Click on the tiny downward arrow next to **Anyone with the link can view** text. A drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/3_anyone_can_view.png' width=500>

    - Click on the **More...** option. A new page on the dialogue box will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/4_more_option.png' width=500>

    - Click on the circle next to **On - Anyone with the link** option. Now, go down and click on the tiny downward box next to **Can edit** text. A drop-down list will appear.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/5_anyone_with_the_link.png' width=500>

    - Click on the **Can edit** option. Then click on the **Save** button. You will be directed back to the first page of the dialogue box.

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/6_can_edit.png' width=500>

    - Make sure that under the **Link sharing on** section, **Anyone with the link can edit** option is selected. 

      <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/7_anyone_can_edit.png' width=500>

    - Then click on the **Done** button.

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Lesson30** format. 


4. Now, finish the **Warm-Up** section. Afterwards, proceed with the class using the duplicate copy of the notebook. You can share the link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Lesson30**) with the student through the chat window.

5. When a student executes the code for the first time in the duplicate copy that you shared with them, they may get the following warning:

   ```
    Warning: This notebook was not authored by Google. This notebook was 
    authored by xyz@gmail.com. It may request access to your data stored 
    with Google such as files, emails and contacts. Please review the source 
    code and contact the creator of this notebook at xyz@gmail.com with any 
    additional questions. 

                                                      Cancel. Run Anyway.
  ```

6. Ask the student to click on the `Run Anyway` button.

7. Wherever you see the hat (**^**) sign on the heading of activity, give a hats-off to the student at the end of the activity.

    - Single hat sign, i.e., **^** denotes give hats-off for concentration. You have to assess the concentration level of a student based on their attentiveness and understanding of the concept.

    - Double hat signs, i.e., **^^** denotes give hats-off for creativity. It can be an alternative approach to writing a code for an activity or applying the logic in a totally different problem statement.

    - Triple hat signs, i.e., **^^^** denotes give hats-off for persistence. It is the ability of a student to not give up on writing code and writing code with minimal teacher support.

8. Every time you execute your code in the Google Colab notebook, please don't forget to save it by pressing the **Ctrl + S** keys (or **Command + S** keys if you are using a Mac). While saving the notebook, you or student may encounter the following error:

   ```
    Save failed
    
    The notebook has been changed outside of this session. Would you like to 
    overwrite existing changes?
    
                                                              CANCEL    YES
   ```

   Click on the `YES` button.

9. Occasionally, you may encounter some error such as `NameError, ReferenceError, ImportError` or `ModuleNotFoundError` after executing the code in $k^{th}$ code cell (where $k > 0$). Most likely, due to poor internet speed, the Colab notebook might have lost the information that all the previous codes have been executed already. As a remedy, run codes in the code cells beginning from the first code cell till the $(k - 1)^{th}$ code cell. For e.g., if the code in the $5^{th}$ code cell fails to run because of one of the aforementioned errors, execute the codes in all the first four code cells again.

10. For every **Teacher Action**, the teacher is supposed to share their screen with the student. Similarly, for every **Student Action**, the student is supposed to share their screen with the teacher.

---

### Warm-Up

```
TEACHER
  Hi student_name! How are you doing?

EXPECTED STUDENT RESPONSE
  I am doing good, teacher. How about you?


TEACHER
  I am having a good time, thank you. So, how was your day? What did you do 
  today?

EXPECTED STUDENT RESPONSE 
  I went to school. Had my lunch. Played a game and then did my homework 
  before this class.


TEACHER
  That's great. I am glad that you are having a good day. Now, let's do a 
  quick recap of our previous class. Can you recall the concepts you 
  learnt in the previous lesson?

EXPECTED STUDENT RESPONSE
  We learnt about the chondrules and chondrites in detail. The chondrules 
  were formed at the time of formation of the solar system. We also learn 
  that the chondrites containing chondrules are called ordinary chondrites. 
  More than 80% of the meteorites that fall to Earth are ordinary chondrites.


TEACHER
  Excellent! You recalled everything that you learnt in the last class. 
  Great job! Keep it up.
  I have an exciting quiz question for you! Are you ready to answer this question?    
  ```   
  **Instructions for the Teacher:**
  -  Please click on the "Quiz Time" button on the bottom right corner of your screen to start the In-Class Quiz.<img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/quiz-time.png' width=100>   
  - A quiz will be visible to both you and the student. Encourage the student to answer the quiz question. 
  - The student may choose the wrong option, help the student to think correctly about the question and then answer again. 
  - After the student selects the correct option, the "End Quiz" button will start appearing on your screen.  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/end-quiz.png' width=100>  
  - Click the "End quiz" to close the quiz pop-up and continue the class. 
  - Do not spend more than 2 minutes on this quiz.

```
TEACHER
  In this class, we are going to introduce Python dictionaries by 
  creating a CSV file from a Python dictionary.

  So, are you excited for this class?

EXPECTED STUDENT RESPONSE
  Yes, teacher.


TEACHER
  All right. Let's get started. I'm sharing the link to the Colab notebook 
  for this class with you. Open it up.

  Note:
    - Share the duplicate copy of the notebook that you just created with 
      the student through the chat window.
    
EXPECTED STUDENT RESPONSE
  The student opens the Colab notebook.
```

---

### Teacher-Student Activities

In the previous classes, you have used a CSV file to explore data, clean it and analyse it for the respective problem statements. Today, you will learn how you can create a CSV using Pandas DataFrame. Later you use the same CSV file to do your work either in Google Sheets or Microsoft Excel or in some other spreadsheet processing software. In the process, we will also learn another data-structure called Python dictionaries which becomes an integral data-structure in the domain of data engineering (to acquire the raw data in real-time or non-real-time and make it usable by structuring and organising it) and data analysis.

So far, you learnt about Python lists in detail and Python tuples very briefly. From this class onwards, you will learn about a Python dictionary and its usefulness in terms of data storage.

---

#### Activity 1: Python Dictionary

Let's quickly create a CSV file from a Python dictionary. Then, we will learn it in detail. The CSV file should contain five columns namely `"linear", "squared", "cubed"` and `"power_of_two"`. Each of these columns should contain the corresponding values between 1 to 100 such that

- The `"linear"` column contains the first 100 natural numbers.

- The `"squared"` column contains the squares of the first 100 natural numbers.

- The `"cubed"` column contains the cubes of the first 100 natural numbers.

- The `"power_of_two"` column contains the values which are two raised to the power of the first 100 natural numbers.

In [ ]:
# Student Action: Write the codes as directed below. 
new_dict = {
    "linear" : [i for i in range(1, 101)], # Create a Python list containing the first 100 natural numbers.
    "squared" : [i ** 2 for i in range(1, 101)], # Create a Python list containing the squares of the first 100 natural numbers.
    "cubed" : [i ** 3 for i in range(1, 101)], # Create a Python list containing the cubes of the first 100 natural numbers
    "power_of_two" : [2 ** i for i in range(1, 101)] # Create a Python list containing the powers of the two of the first 100 natural numbers
}

---

#### Activity 2: The `from_dict()` Function

Now, let's convert the above dictionary into a Pandas DataFrame using the `from_dict()` function. To apply this function, you have to use the following syntax.

**Syntax:** `pd.DataFrame.from_dict(some_dictionary)`

In [ ]:
# Student Action: Create a Pandas DataFrame using the 'new_dict' dictionary by applying the 'from_dict()' function.
# Import the 'pandas' module
import pandas as pd

new_df = pd.DataFrame.from_dict(new_dict)
new_df

    linear  squared    cubed                     power_of_two
0        1        1        1                                2
1        2        4        8                                4
2        3        9       27                                8
3        4       16       64                               16
4        5       25      125                               32
..     ...      ...      ...                              ...
95      96     9216   884736    79228162514264337593543950336
96      97     9409   912673   158456325028528675187087900672
97      98     9604   941192   316912650057057350374175801344
98      99     9801   970299   633825300114114700748351602688
99     100    10000  1000000  1267650600228229401496703205376

[100 rows x 4 columns]

As you can see, a new DataFrame is created. It is stored in the `new_df` variable. It has 100 rows having indices `0` to `99`. It also has the four required columns.

**Note:** Unlike a Python list, the dictionary does not store values in the ordered form. It means that you can't retreive an item from a dictionary using indices.

---

#### Activity 3: The `orient` Parameter

In the above DataFrame created from a Python dictionary, you can label `"linear", "squared", "cubed"` and `"power_of_two"` as row indices. Consequently, the values `0` to `99` will become columns. This can be done by passing `'index'` as the value to the `orient` parameter inside the `from_dict()` function. Here's the syntax.

**Syntax:** `pd.DataFrame.from_dict(some_dictionary, orient='index')`

In [ ]:
# Student Action: Create another Pandas DataFrom using the 'new_dict' having "linear", "squared", "cubed" and "power_of_two" as row indices.
another_df = pd.DataFrame.from_dict(new_dict, orient='index')
another_df

              0   ...                               99
linear         1  ...                              100
squared        1  ...                            10000
cubed          1  ...                          1000000
power_of_two   2  ...  1267650600228229401496703205376

[4 rows x 100 columns]

As you can see, a new DataFrame is created. It is stored in the `another_df` variable. It has 4 rows having indices `"linear", "squared", "cubed"` and `"power_of_two"` as desired. It has 100 columns as well.

---

#### Activity 4: Creating A CSV File From A Python Dictionary^

To create a `CSV` file from a Python dictionary, we need to use the following code:

```
from google.colab import files
csv_file = data_frame.to_csv(index=True)

with open('filename.csv', 'w') as f:
  f.write(csv_file)

files.download('filename.csv')
```

where 

- `data_frame` is a variable storing a Pandas DataFrame from which a `CSV` file needs to be created.

- `filename.csv` is the name of the required CSV file that needs to be downloaded once created.

Let's create a CSV file from the `new_df` DataFrame and name the file as `data.csv`. 

**Note:** After running the code below, a new dialogue box will appear prompting you to save the file in your computer.

In [ ]:
# Student Action: Run the code below.
from google.colab import files
csv_file = new_df.to_csv(index=True) # 'new_df' is the source DataFrame from which the required CSV file is to be created.

with open('data.csv', 'w') as f: # 'data.csv' is the name of the required CSV file.
  f.write(csv_file)

files.download('data.csv')

So, as you can see we have created a CSV file using a Python dictionary. Now, let's learn it in detail.

---

#### Activity 5: Python Dictionary^^^

Similar to a Python list, a Python dictionary is also a data structure, i.e., it stores multiple values in it. **A python dictionary is a collection of key-value pairs** where each key-value pair collectively constitutes an item stored in it.

An example of a key-value pair would be a specification of a smart-phone, as shown in the table below. 

|Key         |Value                  |
|------------|-----------------------|
|Front Camera|16 MP                  |
|Battery     |3300 mAh               |
|Processor   |Qualcomm Snapdragon 845|
|Display     |6.28 inches            |
|RAM         |6 GB                   |
|Rear Camera |16 MP + 20 MP          |
|Price (INR) |28990                  |
|Fast Charge |True                   |

Using the example shown in the table here, let's create a dictionary as a collection of key-value pairs. 

A dictionary is created using curly brackets (`{}`). A key and its corresponding value are mapped using the colon (`:`) sign and each key-value pair is separated by a comma.

In [ ]:
# Teacher Action: Create a dictionary as a collection of key-value pairs containing the items shown in the table above.
my_dict = {'Front Camera' : '16 MP', # First key-value pair 
           'Battery' : '3300 mAh', # Second key-value pair
           'Processor' : 'Qualcomm Snapdragon 845', # Third key-value pair
           'Display' : '6.28 inches', # Fourth key-value pair
           'RAM' : '6 GB', # Fifth key-value pair
           'Rear Camera' : '16 MP + 20 MP', # Sixth key-value pair
           'Price' : 28990, # Seventh key-value pair
           'Fast Charge' : True} # Eighth key-value pair

my_dict

{'Battery': '3300 mAh',
 'Display': '6.28 inches',
 'Fast Charge': True,
 'Front Camera': '16 MP',
 'Price': 28990,
 'Processor': 'Qualcomm Snapdragon 845',
 'RAM': '6 GB',
 'Rear Camera': '16 MP + 20 MP'}

In the above code, we have created a Python dictionary and stored it in `my_dict` variable. The dictionary contains 8 key-value pairs separated by a comma. The keys are of `string` data-type and the values are a mix of `string`, `int` and `bool` data types. 

**Note:** Even though you store an item (a key-value pair) in a specific order, a Python dictionary disregards the order. Hence, unlike a Python list, a Python dictionary is a data structure containing an **unordered** collection of items.

If you print the dictionary, again and again, you will notice that the orders of the items keep on changing.

---

#### Activity 6: Empty Python Dictionary

You can also create an empty dictionary$—$a dictionary which does not have any key-value pair$—$by simply writing curly brackets `{}` only.

In [ ]:
# Student Action: Create an empty dictionary.
empty_dict = {}
empty_dict

{}

In the above code, we have created an empty Python dictionary and stored it in the `empty_dict` variable.

To verify whether a data structure is a Python dictionary  or not, you can use the `type()` function.

In [ ]:
# Student Action: Verify that the data structure stored in the 'empty_dict' variable is a Python dictionary.
type(empty_dict)

dict

The `type()` function returns `dict` as an output which verifies that the value stored in the `empty_dict` variable is indeed a dictionary.

---

#### Activity 7: Important Points About Python Dictionary^^

Here are some of the important points about a Python dictionary:

1. A key in a Python dictionary can be a `str` (string), `int` (integer), `float` (a floating-point number) and a `bool` (boolean) data-type. Additionally, it can also be a tuple. In general, any immutable Python object can be a key in a Python dictionary. The term **immutable** means **unchangeable**.

2. Any Python object (whether mutable or immutable) or a data-type can be a value in a Python dictionary.

Let's go through a few examples for keys and values in a Python dictionary.

**Booleans as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are 'True' and 'False'. You can assign them any values.
bool_as_keys = {True : 'Yes', False: 'No'}
bool_as_keys

{False: 'No', True: 'Yes'}

**Float-point numbers as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are some floating-point numbers. You can assign them any values.
float_as_keys = {-3.14 : 'pi', 2.71 : 'e'}
float_as_keys

{-3.14: 'pi', 2.71: 'e'}

**Integers as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are integer values. You can assign them any values.
int_as_keys = {1: 'A composite number', 2 : 'The only even prime number'}
int_as_keys

{1: 'A composite number', 2: 'The only even prime number'}

**Tuples as keys**

In [ ]:
# Student Action: Create a Python dictionary whose keys are some tuples. You can assign them any values.
tuple_as_keys = {(2, 3) : 'primes', (3, 5) : 'primes and odds'}
tuple_as_keys

{(2, 3): 'primes', (3, 5): 'primes and odds'}

**Lists as values**

In [ ]:
# Student Action: Create a Python dictionary whose values are some lists.
list_as_values = {'first five prime numbers' : [2, 3, 5, 7, 11], 'first five odd numbers': [1, 3, 5, 7, 9]}
list_as_values

{'first five odd numbers': [1, 3, 5, 7, 9],
 'first five prime numbers': [2, 3, 5, 7, 11]}

**Dictionaries as values**

In [ ]:
# Student Action: Create a Python dictionary whose values are some other dictionaries.
dict_as_values = {'Product' : {'product colour 1': 'OnePlus6 Black', 'product colour 2': 'OnePlus6 Red', 'product colour 3': 'OnePlus6 White'}, 
                  'Specifications' : my_dict}
dict_as_values

{'Product': {'product colour 1': 'OnePlus6 Black',
  'product colour 2': 'OnePlus6 Red',
  'product colour 3': 'OnePlus6 White'},
 'Specifications': {'Battery': '3300 mAh',
  'Display': '6.28 inches',
  'Fast Charge': True,
  'Front Camera': '16 MP',
  'Price': 28990,
  'Processor': 'Qualcomm Snapdragon 845',
  'RAM': '6 GB',
  'Rear Camera': '16 MP + 20 MP'}}

**Tuples as values**

You will learn about tuples in detail in the upcoming classes.

In [ ]:
# Student Action: Create a Python dictionary whose values are tuples.
tuple_as_values = {'primes' : (2, 3, 5, 7), 'evens' : (2, 4, 6, 8, 10)}
tuple_as_values

{'evens': (2, 4, 6, 8, 10), 'primes': (2, 3, 5, 7)}

**Note:** a key in a dictionary must be unique. In other words, two items in a dictionary cannot have the same key. If a dictionary contains two items having the same key, then the item at the higher index will be accepted by the dictionary and the item at the lower index will be discarded.

In [ ]:
# Student Action: Create a dictionary having two identical keys but different values. 
dict_with_identical_keys = {'Super': 'Man', 'Hot' : 'Chocolate', 'Super' : 'Woman'}
dict_with_identical_keys

{'Hot': 'Chocolate', 'Super': 'Woman'}

As you can see, the latest value for a key overrides its previous value.

**Note:** Two different keys in a dictionary can have the same value.

In [ ]:
# Student Action: Create a dictionary having two identical values but different keys. 
dict_with_identical_values = {'Super' : 'Man', 'Hot' : 'Chocolate', 'Bat' : 'Man'}
dict_with_identical_values

{'Bat': 'Man', 'Hot': 'Chocolate', 'Super': 'Man'}

Lastly, to convert the lists returned by the `keys(), values()` & `items()` function to conventional Python lists, you can apply the `list()` function on top of them.

In [ ]:
# Student Action: Apply the 'list()' functions on top of the lists returned by the 'keys()', 'values()' & 'items()'. Print them as well.
print("Keys\n", list(my_dict.keys()))
print("\nValues\n", list(my_dict.values()))
print("\nKey-Value Pairs\n", list(my_dict.items()))

Keys
 ['Front Camera', 'Battery', 'Processor', 'Display', 'RAM', 'Rear Camera', 'Price', 'Fast Charge']

Values
 ['16 MP', '3300 mAh', 'Qualcomm Snapdragon 845', '6.28 inches', '6 GB', '16 MP + 20 MP', 28990, True]

Key-Value Pairs
 [('Front Camera', '16 MP'), ('Battery', '3300 mAh'), ('Processor', 'Qualcomm Snapdragon 845'), ('Display', '6.28 inches'), ('RAM', '6 GB'), ('Rear Camera', '16 MP + 20 MP'), ('Price', 28990), ('Fast Charge', True)]

Let's pause here. In the next class, we will learn more about Python dictionaries.

---

### Wrap-Up

```
TEACHER
  Did you enjoy the class?

EXPECTED STUDENT RESPONSE
  Yes, teacher.


TEACHER
  What part of the class did you enjoy?

EXPECTED STUDENT RESPONSE
  I enjoyed everything.


TEACHER
  I am glad you are having a good time. But make sure that you practice 
  writing code in your free time.

EXPECTED STUDENT RESPONSE
  Sure teacher.


TEACHER
  In the next class, we will learn about Python dictionaries in detail.

EXPECTED STUDENT RESPONSE
  Sure teacher.


TEACHER
  See you in the next class. Bye!

EXPECTED STUDENT RESPONSE
  Bye teacher!
```

---

#### Activities

**Teacher Activities**

1. Introduction to Python Dictionaries (Class Copy)

   https://colab.research.google.com/drive/1Cq3jJAo3WQipBtOXqWCDOnfsYrnUaZ7h   

2. Introduction to Python Dictionaries (Reference)

   https://colab.research.google.com/drive/1x3yYyU8ZbziZ1V6Gzp-zqyoK6oS32aik

---